.dietas-list-container {
    padding: 20px;

    background: linear-gradient(to bottom, #c8cec2, hsl(120, 6%, 71%));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    h2 {
      color: #6d4c41;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
  
      th {
        background-color: #6d4c41;
        color: #fff;
      }
  
      td {
        color: #6d4c41;
      }
  
      .button {
        margin-right: 5px;
      }
  
      .button.is-info {
        background-color: #1976d2;
      }
  
      .button.is-danger {
        background-color: #d32f2f;
      }
    }
  }
  